<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Prediction Result</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styleyes.css') }}" />

</head>

<body>
<div class="container">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-40">
				<img src="static/images/caution.png" alt="caution" class="center">
			</div>
			<h2>CAREFUL!</h2>
			<h1>The StrokeAid system predicts that you have a <b>HIGH PROBABLITY</b> of experiencing a Stroke!</h1>
			<p>Please take this warning seriously and seek immediate medical attention to assess your risk of stroke. 
				Consulting a healthcare professional can help you understand the situation better and take necessary 
				preventive measures. Act promptly for your well-being.</p><br>
			<a href="{{ url_for('home') }}">PREDICT AGAIN</a>
		</div>
	</div>
</div>

</body>
</html>
